* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background: rgb(255, 255, 255);
}

.align-items {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0rem 3rem;
    font-family: 'poppins';
    box-shadow:
    0.3em 0.1em 0.6em rgba(41, 41, 41, 0.3);

}

#sp-logo {
    position: absolute;
}

img {
    height: 40px;
    display: inline-block;
    display: block;
    max-width: 100%;
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 22rem;
}

.content {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #291720;
}

.caja {
    align-content: center;

}

.caja a:hover {
    color: #e55381;
    transition-property: color;
        transition-duration: 500ms;
        transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

.buscador {
    display: flex;
    align-items: center;
    padding: 0rem 0rem 0rem 6rem;
}


.buscador input {
    font-family: 'poppins';
    font-size: 12px;
    padding: 8px 5px 8px 27px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #e4e4e4;
    transition-duration: 0.3s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);

}

.buscador input:focus {
    border: #291720 solid 1px;
    color: rgb(44, 44, 44);
    background-color: white;
    font-size: 12.3px;
    transition-duration: 0.3s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

.buscador img {
    display: flex;
    width: 20px;
    height: auto;
    position: absolute;
    top: 1.7rem;
    left:58.8rem;
}

.icons {
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 17px;
    position: absolute;
    top: 1.5rem;
    left: 74rem;
}

.icons img {
    width: 27px;
    height: auto;
}

/* SECTION */

.landing {
    box-sizing: border-box;
    background: rgb(215,233,254);
    background: radial-gradient(circle, rgba(215,233,254,1) 0%, rgba(219,164,241,1) 37%, rgba(246,151,193,1) 85%);
    
}

.images-landing{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;

}

#rojo { 
    height: auto;
    width: 520px;
    border-radius:5px;

}

#rosa {
    height: auto;
    width: 360px;
    border-radius:5px;
    margin: 0rem 24rem;
}

/* TEXT SECTION */

#title-box {
    display: flex;
    width: 460px;
    justify-content: center;
    position: absolute;
    top: 13rem;
    left: 26rem;
}

#box-2{
    display: flex;
    width: 460px;
    justify-content: center;
    position: absolute;
    top: 13.2rem;
    left: 25.7rem;
}

.stroke-text {
    font-weight: 900;
    font-style: italic;
    font-size:70px;
    text-align: center;
    line-height: 4.3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: transparent;
}

.title {
    font-weight: 900;
    font-style: italic;
    font-size:70px;
    text-align: center;
    line-height: 4.3rem;
    color: #e55381;
}

.description {
    display: flex;
    width: 360px;
    position: absolute;
    top: 23rem;
    left: 35.4rem;
    font-family: 'poppins';
    font-size: 18px;
    color: #391e46;
}

.button {
    display: flex;
    width: 210px;
    padding: 7px 30px;
    justify-content: center;
    position: absolute;
    top: 29.6rem;
    left: 38rem;
    font-weight: 600;
    font-size: 21px;
    color: #291720;
    background-color: #fff5e0;
    border-radius: 2rem;
    transition-duration: 500ms;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
    box-shadow:
    6px 9px 30px rgba(0, 0, 0, 0.29);
    transform: scale(1.04);
    font-weight: 700;
}

/* DESCRIPCIÓN */

#first-description {
    padding: 40px 200px;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff2f6;
    text-align: center;
    font-size: 18px;
}

/* CARDS */

.card-box {
    padding: 3rem 2rem 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: default;
}

.title2 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 35px;
    color: #684E73;
}

.cards-section {
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
}


.picture-cards {
    height: 100%;
    width: 100%;
}

.cards {
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    width: 100%;
    overflow: hidden;
    background: rgb(238,187,219);
    background: linear-gradient(14deg, rgba(238,187,219,1) 0%, rgba(255,231,246,1) 13%, rgba(255,255,255,1) 30%);
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.cards:hover {
    box-shadow:3px 4px 4px rgba(0, 0, 0, 0.07);
    transform: scale(1.005);
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);

}

.info-cards {
    padding: 1.5rem 1rem;
}

 .info-cards h3{
    font-family: 'dm serif display';
    font-style: italic;
    font-weight: 590;
    padding: 11px;
    font-size: 23px;
}

/* CONTACT US */

hr {
    width: 1000px;
    margin: auto;
    border: 0.2px solid #cfbcd8;
}

.contact-box {
    padding: 5rem 1rem 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.contact-box h2 {

    font-family: 'dm serif display';
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 45px;
    text-align: center;
    color: #3d184e;
    padding: 0rem 0rem 0.5rem 0rem;
}

.container2 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background: rgb(234, 243, 253);
    background: linear-gradient(155deg, rgb(232, 242, 255) 9%, rgba(255,238,243,1) 42%, rgba(255,246,222,1) 75%, rgba(255,255,255,1) 100%);
    padding: 3rem;
    border-radius: 30px;
    gap: 30px;
}

.container2 h3 {
    font-weight: 600;
    font-size: 21px;
}

.location {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    gap: 10px;
}

.location p {
    padding: 10px 0;
}

.container-icons {
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 500px;
    height: 200px;
    gap: 15px;
    border-radius: 15px;
}

.icons-media{
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.container-ws {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.whatsapp {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 240px;
    height: 200px;
    gap: 15px;
    border-radius: 15px;
}

.horario {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 240px;
    height: 200px;
    gap: 15px;
    border-radius: 15px;
}