header {
    display: block;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    padding-right: 50px;
    height: 60px;
    background: white;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 75px;
    margin: 0rem 2rem 0rem 0.3rem;
    box-shadow:
    0.3em 0.1em 0.6em rgba(41, 41, 41, 0.3);
    font-family: 'poppins';
}

#sp-logo {
    margin-top: 10px;
    margin-bottom: 40px;
    position: absolute;
}

img {
    height: 40px;
    display: inline-block;
    display: block;
    max-width: 100%;
    padding: 1.5rem 0rem 0rem 2rem;
}

#menu {
    width: auto;
    height: 100%;
    justify-content: space-between;
    display: flex;
    position: static;
    justify-content: space-between;
    box-sizing: border-box;
}

.content {
    list-style: none;
    display: flex;
    padding: 0rem 1rem 0rem 40rem;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #291720;
}

.caja {
    padding: 0.5rem;

}

a:hover {
    color: #e55381;
    transition-property: color;
        transition-duration: 500ms;
        transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}